<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="example">
        <p>{{ message }}</p>
        <p>{{ reversedMessage }}</p>
        <p>{{ reverseMessage() }}</p>
        <p>{{ now }}</p>
        <p>{{ now_() }}</p>
        <p>{{ fullName }}</p>
        <input type="text" v-model="year">
        <input type="text" v-model="month">
        <input type="text" v-model="day">
        <p>あなたの年齢は{{age}}歳です。</p>
        <p>あなたが生まれたのは{{week}}曜日です。</p>
    </div>
</body>
<script>
// データオブジェクト
var data_ = { a: 1 }

// Vue インスタンスにオブジェクトを追加する
var vm = new Vue({
    el: '#example',
        data: {
        message: 'Hello',
        firstName: 'Foo',
        lastName: 'Bar',

        year: 1998,
        month: 6,
        day: 13
    },
    computed: {
        age: function(){
            return Number(new Date().getFullYear()) - Number(this.year)
        },
        week: function(){
            return "月"
        },
        // 算出 getter 関数
        reversedMessage: function () {
        // `this` は vm インスタンスを指します
        return this.message.split('').reverse().join('')
        },
        now: function () {
            return Date.now()
        },
        //fullName: function () {
        //   return this.firstName + ' ' + this.lastName
        //},
        fullName: {
            // getter 関数
            get: function () {
                return this.firstName + ' ' + this.lastName
            },
            // setter 関数
            set: function (newValue) {
                var names = newValue.split(' ')
                this.firstName = names[0]
                this.lastName = names[names.length - 1]
            }
        }
    },
    methods: {
        reverseMessage: function () {
            return this.message.split('').reverse().join('')
        },
        now_: function () {
            return Date.now()
        }
    }
})
</script>
</html>