<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    </style>
</head>
<body>
  
  <div id="vue1">
    

  </div>

  <div id="components-demo">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>

<!--
    <blog-post title="おはよう" sample="1"></blog-post>
    <blog-post title="こんにちは" sample="2"></blog-post>
    <blog-post title="こんばんは" sample="3"></blog-post>
-->
<!--
    <blog-post
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:post="post"
    ></blog-post>
-->
    <div :style="{ fontSize: postFontSize + 'em' }">
      <blog-post
        v-for="post in posts"
        v-bind:key="post.id"
        v-bind:post="post"
        v-on:enlarge-text="postFontSize += $event"
        v-on:enlarge-text-two="onEnlargeText"
      ></blog-post>
    </div>


    <custom-input
      v-model="searchText"
    ></custom-input>
    {{ searchText }}

    <alert-box>
      Something bad happenedいえええ.
    </alert-box>


    <button
      v-for="tab in tabs"
      v-bind:key="tab"
      v-bind:class="['tab-button', { active: currentTab === tab }]"
      v-on:click="currentTab = tab"
    >
      {{ tab }}
    </button>

    <component v-bind:is="currentTabComponent" class="tab"></component>


  </div>

    
</body>
<script>

Vue.component('button-counter', {
  data: function () {
    return {
      count: 0,
      postFontSize: 1
    }
  },
  template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
})

Vue.component('blog-post', {
  props: ['post'],
  template: `
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <button v-on:click="$emit('enlarge-text-two', 0.01)">
        Enlarge text
      </button>
      <div v-html="post.content"></div>
    </div>
  `
})

Vue.component('custom-input', {
  props: ['value'],
  template: `
    <input
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
    >
  `
})

Vue.component('alert-box', {
  template: `
    <div class="demo-alert-box">
      <strong>Error!</strong>
      <slot></slot>
    </div>
  `
})

Vue.component("tab-home", {
  template: "<div>Home component</div>"
});
Vue.component("tab-posts", {
  template: "<div>Posts component</div>"
});
Vue.component("tab-archive", {
  template: "<div>Archive component</div>"
});

new Vue({
  el: '#components-demo',
  data: {
    posts: [
      { id: 1, title: 'おはよう', test: "test1", content: "<p>コンテント</p>" },
      { id: 2, title: 'こんにちは', test: "test2", content: "<p>コンテント</p>" },
      { id: 3, title: 'こんばんは', test: "test3", content: "<p>コンテント</p>" }
    ],
    postFontSize: 1,
    searchText: "",
    
    currentTab: "Home",
    tabs: ["Home", "Posts", "Archive"]
  },
  methods: {
    onEnlargeText: function (enlargeAmount) {
      this.postFontSize += enlargeAmount
    }
  },
  computed: {
    currentTabComponent: function() {
      return "tab-" + this.currentTab.toLowerCase();
    }
  
  }
})

</script>
</html>