<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .active{
            color: red;
        }
        .text-danger{
            background-color: green;
        }
    </style>
</head>
<body>
  <div id="vue">
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>

    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ message }}</p>
    <br>
    <textarea v-model="message" placeholder="add multiple lines"></textarea>

    <input type="checkbox" id="checkbox" v-model="checked" value="ok">
    <label for="checkbox" v-if="checked">チェックされました{{checked[0]}}</label>
    <label for="checkbox" v-else>チェックされてません</label>


    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
    <ul v-for="item in checkedNames">
      <li>{{item}}</li>
    </ul>


    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>

    <select v-model="selected">
      <option disabled value="">Please select one</option>
      <option value="AAAAAA">A</option>
      <option value="BBBBBB">B</option>
      <option value="CCCCCC">C</option>
    </select>
    <span>Selected: {{ selected }}</span>

    <br>
    <select v-model="selected">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
    <span>Selected: {{ selected }}</span>

    <input
      type="checkbox"
      v-model="toggle"
      true-value="yes"
      false-value="no"
    >
    <p>{{toggle}}</p>

    <select v-model="selected">
    <!-- インラインオブジェクトリテラル -->
      <option v-bind:value="{ number: 123 }">123</option>
    </select>
  </div>
</body>
<script>

let vm = new Vue({
  el: '#vue',
  data: {
    message: "",
    checked: [],
    checkedNames: [],
    picked: "",
    selected: {},
    options: [
      { text: 'One', value: 'Aa' },
      { text: 'Two', value: 'Bb' },
      { text: 'Three', value: 'Cc' }
    ],
    toggle: true
  }
})

</script>
</html>